@media screen and (min-width: 768px){
    h1 {
        font-size: var(--spacing-600);
    }
    h2 {
        font-size: 36px;
    }

    /* HERO */

    .hero-content-wrapper{
        padding-left: var(--spacing-550);
        padding-right: var(--spacing-550);
        padding-bottom: var(--spacing-800);
        padding-top: var(--spacing-900);
    }

    .hero-btn-container {
        flex-direction: row;
    }

    /* ABOUT */

    .about{
        padding: var(--spacing-700) var(--spacing-550) var(--spacing-800) ;
    }

    .text-wrapper{
        max-width: 504px;
        justify-content: center;
    }
    
    .grid-container {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
    }
}