@media screen and (min-width: 768px){
    h1 {
        font-size: var(--spacing-600);
    }
    h2 {
        font-size: 36px;
    }

    /* HERO */

    .hero-content-wrapper{
        padding-left: var(--spacing-550);
        padding-right: var(--spacing-550);
        padding-bottom: var(--spacing-800);
        padding-top: var(--spacing-900);
    }
    .hero-img-container {
        gap: auto;
    }

    .hero-img-container img:first-child {
        position: relative;
        left: 2px;
    }
    .hero-img-container img:last-child {
        position: relative;
        right: 2px;
    }

    .hero-btn-container {
        flex-direction: row;
    }

    /* ABOUT */

    .about{
        padding: var(--spacing-700) var(--spacing-550) var(--spacing-800) ;
    }

    .text-wrapper{
        max-width: 504px;
        justify-content: center;
    }
    
    .grid-container {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
    }
}

@media screen and (min-width: 1200px){
    h1 {
        font-size: 64px;
    }
    p {
        font-size: 18px;
    }

    header {
        padding-top: var(--spacing-1000) ;
    }
    .hero-img-container {
        margin-top: 0;
    }

    .hero-content-container {
        gap: var(--spacing-400);
    }

    .hero-img-container img:first-child {
        position: absolute;
        left: -2%;
        top: 125px;
    }
    .hero-img-container img:last-child {
        position: absolute;
        right: -2%;
        top: 183px;
    }

    .grid-container {
        max-width: 1120px;
    }
    .text-wrapper {
        max-width: 544px;
    }

    .about {
        padding-bottom: 72px;
    }

    .footer-content-wrapper {
        flex-direction: row;
        width: 1120px;
        gap: 32px;
        max-width: none;
        justify-content: space-between;
        align-items: flex-start;
        padding: var(--spacing-1400) var(--spacing-1000);
        box-sizing: content-box;
    }

    footer section {
        padding: 0;
    }

    .footer-content-wrapper h2, .footer-content-wrapper p {
        text-align: start;
    }

    .footer-content-wrapper h2 {
        max-width: 445px ;
    }
    .footer-content-wrapper p {
        max-width: 355px ;
        align-self: flex-start;
    }


}