@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

:root {

    /* COLORS */
    --color-cyan-600: #4D96A9;
    --color-cyan-300: #8FE3F9;
    --color-purple-600: #855FB1;
    --color-purple-300: #D9B8FF;
    --color-slate-900: #28283D;
    --color-slate-600: #87879D;
    --color-slate-300: #D1D1DF;
    --color-white: #fafafa;

    /* SPACING */
    --spacing-1400: 112px;
    --spacing-1000: 80px;
    --spacing-900: 72px;
    --spacing-800: 64px;
    --spacing-700: 56px;
    --spacing-600: 48px;
    --spacing-550: 44px;
    --spacing-500: 40px;
    --spacing-400: 32px;
    --spacing-300: 24px;
    --spacing-200: 16px;
    --spacing-100: 8px;
    --spacing-50: 4px;


}

/* TEXT PRESETS */
/* MOBILE */
h1 {
    color: var(--color-slate-900, #28283D);
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "Red Hat Display";
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: 110%; /* 35.2px */
}

h2 {
    color: var(--color-slate-900, #28283D);
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "Red Hat Display";
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: 110%; /* 35.2px */
}

.eyebrow {
    color: var(--color-cyan-600, #4D96A9);
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "Red Hat Display";
    font-size: 12px;
    font-style: normal;
    font-weight: 900;
    line-height: 110%; /* 13.2px */
    letter-spacing: 4px;
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

p {
    color: var(--color-slate-600, #87879D);
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "Red Hat Display";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 24px */
}

.button-text-1 {
color: var(--color-white, #FAFAFA);
font-feature-settings: 'liga' off, 'clig' off;

/* desktop/text-preset-5 */
font-family: "Red Hat Display";
font-size: 16px;
font-style: normal;
font-weight: 900;
line-height: 150%; /* 24px */
}
.button-text-2 {
    color: var(--color-cyan-300, #8FE3F9);
    font-feature-settings: 'liga' off, 'clig' off;
    
    /* desktop/text-preset-5 */
    font-family: "Red Hat Display";
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    line-height: 150%; /* 24px */
}
.button-text-3 {
    color: var(--color-purple-300);
    font-feature-settings: 'liga' off, 'clig' off;
    
    /* desktop/text-preset-5 */
    font-family: "Red Hat Display";
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    line-height: 150%; /* 24px */
}

/* TEXT COLOR PRESETS */

.tc-slate-900 {
    color: var(--color-slate-900, #28283D);
}
.tc-cyan-600 {
    color: var(--color-cyan-600, #4D96A9);
}
.tc-white {
    color: var(--color-white);
}

/* BUTTONS */

.primary-button {
    transition: background-color 300ms ease-in-out;
    display: inline-flex;
    padding: var(--spacing-200, 16px) var(--spacing-500, 40px);
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: fit-content;
    gap: var(--spacing-100, 8px);
    border: none;
    border-radius: 29px;
    background-color: var(--color-cyan-600, #4D96A9);
}
.primary-button:hover {
    background-color: #71C0D4;
}
.secondary-button {
    transition: background-color 300ms ease-in-out;
    display: inline-flex;
    padding: var(--spacing-200, 16px) var(--spacing-500, 40px);
    flex-direction: column;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    width: fit-content;
    gap: var(--spacing-100, 8px);
    border-radius: 29px;
    background: var(--color-purple-600, #855FB1);
    border: none;

}
.secondary-button:hover {
    background: #B18BDD;
}

body{
    background-color: var(--color-white);
    width: 100vw;
    overflow-x: hidden;
}

/* HEADER */
header {
    display: flex;
    justify-content: center;
    height: fit-content;
    padding-top: 48px;
}
header img{
    height: 28px;
    width: 119px;
}

/* HERO */
.hero-img-container {
    margin-top: var(--spacing-800);
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.hero-img-container img:first-child {
    position: relative;
    left: 0px;
}
.hero-img-container img:last-child {
    position: relative;
    right: 0px;
}
.hero div:first-of-type img {
    width: 57.7%;
    max-width: 394px;
}

.hero-content-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 32px;
    padding-top: var(--spacing-600);
}

.hero-content-container{
    max-width: 448px;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-300);

}

.hero-btn-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-200);
}

/* ABOUT */
.about{
    padding: var(--spacing-400);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: var(--spacing-800);
}

.text-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-400);
}

/* GRAPHICAL ICON */
.graphic-element{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.line {
    height: var(--spacing-1000);
    border-left: 1px solid var(--color-slate-300);
}
.circle {
    background-color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--spacing-700);
    height: var(--spacing-700);
    border-radius: 100%;
    border: 1px solid var(--color-slate-300);
    color: var(--color-slate-600);
}

/* IMAGE GRID */

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: var(--spacing-200);
}

img {
    width: 100%;
    border-radius: 16px;
}


/* FOOTER */

footer {
    height: fit-content;
    margin-top: -28px;
}

footer .graphic-element {
    transform: translateY(calc(var(--spacing-700)/2));
}

footer section {
    z-index:0;
    height: fit-content;
    background: linear-gradient(#4d97a9d9, #4d97a9d4), url(./assets/tablet/image-footer.jpg);
    background-size: cover;
    background-position: center 30%;
    display: flex;
    padding-top: 0;
    padding: var(--spacing-800) var(--spacing-400);
    gap: var(--spacing-400);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-content-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 504px;
    gap: var(--spacing-300);
}

footer h2, footer p {
    color: var(--color-white);
}
